h2 {
    color: rgb(124,122,122);
    font-size: 5vh;
}
h2 + p {
    color: rgb(73,73,73);
    font-size: 4vh;
    text-align: justify;
}
.accordion-button {
    font-size: 2vh;
    color: rgb(255,255,255);
    background-color: rgb(255,93,115);    
}
.accordion-button:not(.collapsed) {
    color: rgb(255,255,255);   
    background-color: rgb(58,51,53);
}
.button.accordion-button::after {
    background-color: rgb(255,93,115);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(./image/not_collapsed_pinksm.svg);
}

.titlehead {   
    padding: 1vh; 
    color: rgb(255,93,115); 
}