$tittle-color:rgb(58,51,53);
$subtittle-color:rgb(124,122,122);
$paragraph-color:rgb(73,73,73);
$accent-color:rgb(255,93,115);

$background-color:rgb(255,255,255);

$font-weights:(
    "regular":400,
    "medium":500,
    "bold":700
);